.button {
  background-color: var(--darkorange);
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 10px var(--orange-shadow);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0;
  width: 200px;
}

.plain {
  background-color: white;
  box-shadow: none;
  color: var(--darkblue);
  width: auto;
}

.orange {
  box-shadow: none;
  width: auto;
}
