.graph__heading,
.energy-level__heading {
  font-size: 14px;
  font-weight: 600;
  color: var(--darkblue);
  margin: 30px 0 10px 0;
}

.graph__image {
  width: 100%;
}

.graph__tag {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.graph__tag-item1 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  background-color: var(--darkblue);
  color: #fff;
  padding: 0 8px;
  border-radius: 3px;
  margin-right: 10px;
}

.graph__tag-item2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  background-color: var(--ultralightorange);
  color: var(--darkorange);
  padding: 0 8px;
  border-radius: 3px;
}

.energy-level__rating-item {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  padding: 12px 0;
  margin-bottom: 10px;
  background-color: var(--darkorange);
}

.mid1 {
  background-color: var(--midorange);
}

.mid2 {
  background-color: var(--lightorange);
  color: var(--darkorange);
}

.low {
  background-color: var(--ultralightorange);
  color: var(--darkorange);
}

.energy-level__rating:after {
  content: '';
  display: block;
  height: 64px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
