header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url(../../img/background_shape_1-line.svg);
  color: var(--darkblue);
  display: grid;
  place-items: center;
}

.header__background-broad {
  background-image: url(../../img/background_shape_2-lines.svg);
  height: 80px;
}

.header__heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subheading {
  color: var(--midblue);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.scrolling {
  padding-top: 90px;
  overflow-y: auto;
}
