.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url(../../img/background_shape_1-line.svg);
  background-size: cover;
  color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.header-80 {
  height: 80px;
  background-image: url(../../img/background_shape_2-lines.svg);
}

.header__heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subheading {
  color: var(--midblue);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.scrolling {
  padding-top: 90px;
  height: 100vh;
  overflow-y: auto;
}
