.journal-form__heading {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--darkblue);
  margin-bottom: 30px;
}

.journal-form__subheading {
  font-size: 14px;
  font-weight: 600;
  color: var(--darkblue);
  margin-bottom: 10px;
}

.journal-form__rating {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.journal-form__comprehension {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.journal-form__input {
  display: block;
  width: 100%;
  border: solid 1px var(--lightblue);
  border-radius: 4px;
  padding: 20px;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--midblue);
  margin: 10px 0 20px 0;
}

.journal-form__button-arrangement {
  margin-top: 10px;
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
