.journal-card {
  box-shadow: 0 2px 11px var(--blue-shadow);
  border-radius: 6px;
  padding: 20px;
  position: relative;
}

.journal-card__heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--darkblue);
}

.journal-card__sub-heading {
  font-size: 12px;
  font-weight: 400;
  color: var(--midblue);
  margin: 20px 0 10px 0;
}

.journal-card__rating {
  display: flex;
}

.journal-card__rating > li {
  margin-right: 20px;
}

.journal-card__comprehension {
  display: flex;
  justify-content: space-between;
}

.journal-card__rating > li {
}

.journal-card__motto {
  font-size: 16px;
  font-weight: 600;
  color: var(--darkblue);
}

.journal-card__notes {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--darkblue);
}

.journal-card:last-child:after {
  content: '';
  display: block;
  height: 80px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
