.navigation {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 11px var(--blue-shadow);
  display: flex;
  height: 44px;
  justify-content: space-around;
  margin: 10px 20px 20px 20px;
  padding-top: 5px;
}

.navigation__link {
  filter: opacity(50%);
}

.navigation__link:hover,
.navigation__link--active {
  filter: opacity(100%);
}

.navigation__icon {
  height: 20px;
}
